*{
  font-family:"Lato", sans-serif;
  
}
body {
  background-color: #fafafa;
}
.stickit{
  position: fixed;
  top:90px;
}

.fixed {
  position: fixed;
}
.rec.rec-carousel-item.rec-carousel-item-1{
  margin-left:16px;
  margin-right: 16px;
}
.rec-dot{
  display:none;
}
/* .kyJvRZ{
  display:none;
} */

.show {
  display:block
}

.hide {
  display:none
}
