header.top-header {
   background-image: url('https://shop-redq.vercel.app/_next/static/images/grocery-f1565ac25de02b9295dccc2da13004ab.png');
   height: 100vh;
   background-position: center;
   background-size: cover;
}
